# env
.venv/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.egg

# jupter
.ipynb_checkpoints/

# test / lint / coverage artifacts
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# mac
.DS_Store

# data + artifactions
data/raw/
models/
